:root{
    --main-font: 'PT Sans Caption', sans-serif;
    --second-font: 'Righteous', cursive;
    --third-font: 'Pacifico', cursive;
}

*{
    font-family: var(--main-font);
}

main{
    background-color: #F7ECDE;
    min-height: 100vh;    
}




h1{
    font-family: var(--third-font);
    font-size: 50px;
    color: rgb(53, 46, 40);
    z-index: 1;
    position: relative;
    width: fit-content;
    margin: auto;
}



h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
h1:hover::before {
    height: 50%;
  }

  .line{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
    
  }
  
  h2{
    font-family: var(--second-font);
    font-size: 25px;
    color: #b5ac49;
  }



  @media (max-width: 575.98px) { 
    h2{
        font-family: var(--second-font);
        font-size: 19px;
        color: #b5ac49;
      }

      table{
        font-size: 12px;
        font-weight: bold;
      }
      table .size {
        font-size: 10px;
      }
   }